.claude/.DS_Store
.claude/worktrees/.DS_Store
.claude/worktrees/bold-mendel-04ce94/.DS_Store
.claude/worktrees/bold-mendel-04ce94/.gitattributes
.claude/worktrees/bold-mendel-04ce94/about.html
.claude/worktrees/bold-mendel-04ce94/app.py
.claude/worktrees/bold-mendel-04ce94/application.html
.claude/worktrees/bold-mendel-04ce94/config.js
.claude/worktrees/bold-mendel-04ce94/contributor.html
.claude/worktrees/bold-mendel-04ce94/database.html
.claude/worktrees/bold-mendel-04ce94/format.html
.claude/worktrees/bold-mendel-04ce94/img/barebones.png
.claude/worktrees/bold-mendel-04ce94/img/belmontinn.png
.claude/worktrees/bold-mendel-04ce94/img/reelminn.png
.claude/worktrees/bold-mendel-04ce94/img/shipahoy.png
.claude/worktrees/bold-mendel-04ce94/index.html
.claude/worktrees/bold-mendel-04ce94/pool.db
.claude/worktrees/bold-mendel-04ce94/README.md
.claude/worktrees/bold-mendel-04ce94/requirements.txt
.claude/worktrees/bold-mendel-04ce94/schema.sql
.claude/worktrees/bold-mendel-04ce94/stats.html
.claude/worktrees/bold-mendel-04ce94/styles.css
.claude/worktrees/bold-mendel-04ce94/templates/base.html
.claude/worktrees/bold-mendel-04ce94/templates/pool_database.html
.claude/worktrees/bold-mendel-04ce94/templates/submit.html
.claude/worktrees/bold-mendel-04ce94/templates/venue_detail.html
cbdb/
dykepooldb/
